% rebase('osnovava.html')
<div class="box">
    <div class="box">
        <p>To ja analiza vašega gibanja. Gibate se lahko na dva načina, in sicer lahko tečete (gibanja za besedo 'tek') 
            ali pa hodite (gibanja za besedo 'hoja').
            Prikazanih je šest različnih prikazovanj podatkov:
            vsota vseh gibanj v mesecu, povprečje vsakega meseca, maksimum vsakega meseca (največ gibanja v enem dnevu),
            vsota vseh gibanj v letu, povprečje vsakega leta, maksimum izmed danih let, kar pa vrne leto, ko si se največ gibal ter gibanje v danem letu(za tek in za hojo).
            Pri prvih treh gibanjih najbolj notranji oglati oklepaji predstavljajo en mesec.
        </p>
    </div>
    <br>
    <p>
       Vsota gibanj v mesecu
    </p>
       <li>{{ vsota }} </li> 
    <hr>
    <p>
       Povprečje gibanj v mesecu
    </p>
        <li> {{ povprecje_meseca }}</li>
    <hr>
    <p>
        Maksimum v mesecu
     </p>
        <li> {{ maks_mesec }}</li>
    <hr>
    <p>
        Vsota gibanj v letu
    </p>
        <li> {{ vsota_leta }}</li>
    <hr>
    <p>
        Povprečje gibanj v letu
    </p>
        <li> {{ povprecje_leta }}</li>
    <hr>
    <p>
        Maksimum gibanj izmed let
    </p>
        <li> {{ maks_leta }}</li>
    <hr>
<div class="level-item">
    <a style="border-color: rgb(44, 180, 153); margin-left: 10px;" class="button is-primary" href="/">Začetna stran</a>
    <a style="border-color: rgb(44, 180, 153); margin-left: 10px;" class="button is-primary" href="/dodaj-gibanje/">Dodaj novo gibanje.</a>
    <a style="border-color: rgb(44, 180, 153); margin-left: 10px;" class="button is-primary" href="/izbris-zadnjega-gibanja/">Izbriši zadnje dodano gibanje</a>
</div>