% rebase('osnovava.html')
<p>{{uporabnik.uporabnisko_ime}}</p>
<div class="box">
    <div class="box">
        <p>Tukaj pišejo vse potrebne informacije za analizo</p>
    </div>
    <br>
    <p>
       Vsota gibanj
    </p>
       <li>{{ vsota }} </li> 
    <hr>
    <p>
       Povprecje
    </p>
        <li> {{ povprecje_meseca }}</li>
    <hr>
    <p>
        Maks mesec
     </p>
        <li> {{ maks_mesec }}</li>
    <hr>
    <p>
        Vsota leta
    </p>
        <li> {{ vsota_leta }}</li>
    <hr>
    <p>
        Povprecje leta
    </p>
        <li> {{ povprecje_leta }}</li>
    <hr>
    <p>
        Maks leta
    </p>
        <li> {{ maks_leta }}</li>
    <hr>
<div class="level-item">
    <a class="button is-primary" href="/">Začetna stran</a>
</div>