% rebase('osnovava.html')
<form method="POST">
    <div class="field">
        <label class="label">Novo gibanje</label>
        <div class="control has-icons-left has-icons-right">
            <h2>Napišite koliko ste pretekli (v kilometrih), koliko časa ste se gibali (v urah), kako ste se gibali (za tek napišite: True, za hojo pa: False), kakšna je bila strmina vašega gibanja (napišite število med 0 (brez strmine) in 30 (zelo velik klanec)) in vašo telesno težo.</h2>
            <input class="input" name="dolzina" type="text" placeholder="dolzina">
            <input class="input" name="cas" type="text" placeholder="cas">
            <input class="input" name="nacin" type="text" placeholder="nacin">
            <input class="input" name="strmina" type="text" placeholder="strmina">
            <input class="input" name="teza" type="text" placeholder="teza">
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Dodaj</button>
        </div>
        <div class="control">
            <a class="button is-link is-light" href="/">Prekliči</a>
        </div>
    </div>
</form>

<div class="level-item">
    <a class="button is-info" href="/">Začetna stran</a>
</div>
