% rebase('osnovava.html')
% if  len(gibanja) == 0:
   Izbrisali ste vsa dosedanja gibanja.
<div class="level-item">
    <a style="border-color: rgb(44, 180, 153); margin-left: 10px; margin-top: 10px" class="button is-primary" href="/">Začetna stran</a>
    <a style="border-color: rgb(44, 180, 153); margin-left: 10px; margin-top: 10px" class="button is-primary" href="/dodaj-gibanje/">Dodaj novo gibanje.</a>
    <a style="border-color: rgb(44, 180, 153); margin-left: 10px; margin-top: 10px" class="button is-primary" href="/analiza/">Analiza</a>
</div>
% else: 
%  uporabnik.gibanja.izbris_zadnjega_elementa()
   Uspešno ste izbrisali zadnje gibanje.
<div class="level-item">
    <a style="border-color: rgb(44, 180, 153); margin-left: 10px; margin-top: 10px;" class="button is-primary" href="/">Začetna stran</a>
    <a style="border-color: rgb(44, 180, 153); margin-left: 10px; margin-top: 10px" class="button is-primary" href="/dodaj-gibanje/">Dodaj novo gibanje</a>
    <a style="border-color: rgb(44, 180, 153); margin-left: 10px; margin-top: 10px" class="button is-primary" href="/izbris-zadnjega-gibanja/">Izbriši zadnje gibanje</a>
    <a style="border-color: rgb(44, 180, 153); margin-left: 10px; margin-top: 10px" class="button is-primary" href="/analiza/">Analiza</a>
</div>