

<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dnevnik gibanja</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.11.0/js/all.js"></script>
</head>

<body bgcolor=#D9E8F1>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <span class="icon"></span>
                    <i class="fas fa-running"></i>
            </span>
          <strong>Dnevnik Gibanja</strong>
                  </div>
            <h3>Tukaj lahko izračunate kolikšna je danes vaša poraba kalorij in kisika. 
                Prav tako lahko gibanja (hojo in tek) beležite, program pa vam bo vrnil analizo teh podatkov.
                Ko dodate novo gibanje, vam bo program na dnu strani vrnil porabo kalorij in kisika.
            </h3>
            <br>        
        <a class="navbar-item"
          href=https://github.com/IanLampic/Merilnik>
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
          <span>GitHub</span>
        </a>
      </div>
    </div>
  </nav>
  <section class="section">
    {{!base}}
  </section>
    </body>
</html>