% rebase('osnovava.html')
<p> {{ uporabnik.uporabnisko_ime }}</p>
<body>
  <p>   To je program, v katerem lahko izračunate kolikšna je vaša današnja poraba kalorij in kisika. 
        Prav tako lahko gibanja (hojo in tek) beležite, program pa vam bo vrnil analizo teh podatkov.
        Če želite napisati decimalno število, namesto vejice uporabite piko.
  </p>
  <br>
  <ul class="nav navbar-nav">
    <li>
        <div class="level-item">
        <a class="button is-info" style="margin-right: auto;" href="/dodaj-gibanje/">Dodaj gibanje</a>
        </div>
    </li>
    <li>
        <div class="level-item">
            <a class="button is-info" style="margin-right: auto;" href="/izbris-zadnjega-gibanja/">Izbrisati zadnje dodano gibanje</a>
        </div>
    </li>
    <li>
        <div class="level-item">
            <a class="button is-info" style="margin-right: auto;" href="/analiza/">Analiza gibanja</a>
        </div>
    </li>
</ul>
<hr>
% if  kalo  == []:
   Dodajte novo gibanje!
% else:
<h2>Porabili ste:</h2>
    {{ kalo[-1][0] }} kalorij in  {{ kalo[-1][1] }} kisika.
% end

