<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dnevnik gibanja</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.11.0/js/all.js"></script>
</head>
<body style='background-color:#BDDBED;'>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <span class="icon"></span>
              <i class="fas fa-running"></i>
            </span>
            <strong>Dnevnik Gibanja</strong>
          </div>
          <br> 
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                % if defined('uporabnik'):
                  <form method="POST" action="/odjava/">
                    <button class="button is-light">
                      Odjavi se
                    </button>
                  </form>
                % else:
                  <a class="button is-info" href="/registracija/">
                    <strong>Registriraj se</strong>
                  </a>
                  <a class="button is-light" href="/prijava/">
                    Prijavi se
                  </a>
                % end
              </div>
            </div>       
          <a class="navbar-item"
            href=https://github.com/IanLampic/Merilnik>
          <span class="icon">
            <i class="fab fa-github"></i>
          </span>
          <span>GitHub</span>
        </a>
      </div>
    </div>
  </nav>
  <section class="section">
    {{!base}}
  </section>
</body>
</html>